.wrapper{
    max-width: 55vw;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    margin-top: 120px;
}
.wrapper .picture {
    justify-self: center;
}
.picture > img {
    padding: 10px;
    width: 600px;
}
.wrapper li{
    margin: 10px;
}
.wrapper ol > li{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.849);
    margin: 20px;
}
.wrapper h1{
    text-align: center;
}