    .Navbar_wrapper{
        position: absolute;
        z-index: 2;
        left: 15.4%;
        top: 1%;
        min-height: 60px;
        min-width: 70vw;
        grid-area: navbar;
        margin: 0 auto;
        background: rgb(255,0,0);
        background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(230,0,0,1) 100%);
    }
    .Navbar_wrapper nav {
        max-width: 35vw;
        min-height: 60px;
        display: grid;
        margin: 0 auto;
      }
      .topmenu{
        display: grid;
        grid-template-columns: repeat(5,1fr);
      }
      nav ul {
        list-style: none;
        padding: 0 0;
        vertical-align: center;
      }
      .topmenu > li {
        align-self: center;
        align-content: center;
        float: left;
        position: relative;
        font-family: 'Open Sans', sans-serif;
      }
      .topmenu > li > a {
        min-height: 60px;
        cursor: default;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        color: white;
        padding: 15px 30px;
      }
      .topmenu li a:hover { background-color: #e31e24; }
      .submenu_link::before {
        position: absolute;
        left: 90px;
        content: "|";
        font-family: "FontAwesome";
        color: inherit;
      }

      .submenu {
        background: white;
        position: absolute;
        left: 0;
        top: 125%;
        margin-top: 16px;
        z-index: 5;
        width: 200px;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: .5s ease-in-out;
      }
      .submenu a {
        position: relative;
        cursor: default;
        padding:0px 10px 0px 0px;
        color: black;
        text-align: center;
        font-size: 13px;
      }
      .submenu a::before{
        position: absolute;
        content: ">";
        left: 170px;
      }
      .submenu li{
        border-bottom: 1px solid rgb(129, 129, 129);
        padding: 10px;
      }
      .submenu li a:hover { 
        color: red;
        background-color: #ffffff; }
      .topmenu > li:hover .submenu {
        opacity: 1;
        transform: scaleY(1);
      }

 /* Extra small devices (phones, 480px and down) */
 @media only screen and (min-width: 280px) {
  .Navbar_wrapper{
    display: none;
  }
  .topmenu li a {
    font-size: 10px;
  }
}

 /* Extra small devices (phones, 480px and down) */
 @media only screen and (min-width: 360px) {
  .Navbar_wrapper{
    display: none;
  }
  .topmenu li a {
    font-size: 10px;
  }
}
 /* Extra small devices (phones, 480px and down) */
 @media only screen and (min-width: 480px) {
  .Navbar_wrapper{
    display: none;
  }
  .topmenu li a {
    font-size: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Navbar_wrapper{
    display: block;
    min-width: 100vw;
    left: 0;
  }
  .topmenu li a {
    font-size: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Navbar_wrapper{
    min-width: 70vw;
    width: none;
    left: 8%;
  }
  .topmenu li a {
    font-size: 11px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Navbar_wrapper{
    left: 15.4%;
    min-height: none;
  }
  .topmenu {
    max-width: none;
    margin: none;
  }
  .nav ul{
    padding: 5px 0;
  }
  .topmenu li a {
    font-size: 13px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Navbar_wrapper{
    max-height: 70px;
  }
  .topmenu {
    width: 53vw;
    margin: 20px auto;
  }
  .topmenu li a {
    font-size: 14px;
  }
}