.mainpage_info_wrapper{
    display: grid;
    background-color: rgb(241, 241, 241);
    min-height: 15vh;
    align: center;
}
.mainpage_info{
	max-width: 65vw;
	margin: 0 auto;
	border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;   
    position: relative;
   max-height: 160px;
}
.mainpage_info .info_block{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: start;
	max-width: 350px;
	min-height: 137px;
	max-height: 150px;
}
.info_block:nth-child(2+3){
	border-left: 2px solid white;
}
.info_block > img {
	margin-left: 5px;
	border-radius: 50%;
    max-height: 80px;
}

.info_block > p {
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
    background-color: rgb(241, 241, 241);
}




 /* Extra small devices (phones, 600px and up) */
 @media only screen and (min-width: 480px) {
    .info_block > img{
        max-height: none;
    }
    .mainpage_info_wrapper{
        display: none;
        min-height: 50vh;
    }
    .mainpage_info{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .info_block > p{
    
    }
    .mainpage_info .info_block{
        max-width: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .info_block > img{
        max-height: none;
    }
    .mainpage_info_wrapper{
        display: block;
        min-height: 50vh;
    }
    .mainpage_info{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .info_block > p{
    
    }
    .mainpage_info .info_block{
        max-width: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .info_block > img{
        max-height: none;
    }
    .mainpage_info_wrapper{
        min-height: 50vh;
    }
    .mainpage_info{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .info_block > p{
    
    }
    .mainpage_info .info_block{
        max-width: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .info_block > img{
        max-height: 80px;
    }
    .mainpage_info_wrapper{
        min-height: 28vh;
    }
    .mainpage_info{
        max-height: 255px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .info_block > p{
        font-size: 12px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.mainpage_info_wrapper{
        min-height: 15vh;
    }
    .info_block > p{
        font-size: 14px;
    }
}