.wrapper{
    padding: 20px 0 40px 0;
    border-top: 1px solid rgb(80, 80, 80);
    border-bottom: 1px solid rgb(80, 80, 80);
}

.items{
    max-width: 45vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.items > div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}
.items > div > span {
    text-align: start;
}