.email_block_wrapper{
	max-width: 65vw;
	margin: 20px auto;
	min-height: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr 0.6fr;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.email_block_wrapper img {
	justify-self: end;
	border-radius: 50%;
    max-height: 40px;
}

.email_block_wrapper .email_label{
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
	color:rgba(2, 0, 0, 0.774);
	font-weight: bold;
}
.email_label label{
padding: 5px;
}
.email_input{
	display: grid;
	justify-items: end;
	align-items: center;
	padding-right: 20px;
}
.email_input > input{
	border: none;
	border-radius: 4px;
	min-width: 500px;
	min-height: 20px;
}
.email_input input:focus{
	border: 0px;
}
.email_button_wrapper{
	display: grid;
	justify-items: start;
	align-items: center;
}
.main_email_button {
	background: #ffffff;
	border-radius: 15px;
	color: #ff0000;
	font-family: Arial;
	font-size: 15px;
	padding: 10px;
	border: solid #ff0000 1px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-align: center;
 }
 
 .main_email_button:hover {
	border: solid #ff0000 1px;
	background: #ff0000;
	color: white;
	border-radius: 10px;
	text-decoration: none;
	transition: all .5s ease;
 }