.mail_wrapper{
	margin: 20px 0;
	background-color: red;
	max-height: 13vh;
}
.email_block_wrapper{
	max-width: 65vw;
	margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 2fr 0.6fr;
}
.email_block_wrapper img {
	justify-self: end;
	border-radius: 50%;
    max-height: 40px;
}
.email_block_wrapper .email_label{
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
	color:rgba(2, 0, 0, 0.774);
	font-weight: bold;
}
.email_label label{
	color: white;
	padding: 5px;
	font-size: 14px;
}
.email_input{
	display: grid;
	justify-items: end;
	align-items: center;
	padding-right: 20px;
}
.email_input > input{
	border: none;
	border-radius: 4px;
	min-width: 645px;
	min-height: 29px;
}
.email_input input:focus{
	border: 0px;
}
.email_button_wrapper{
	display: grid;
	justify-items: start;
	align-items: center;
}
.main_email_button {
	background: #ff0000;
	border-radius: 15px;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	padding: 10px;
	border: solid #ffffff 2px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-align: center;
 }
 
 .main_email_button:hover {
	border: solid #ffffff 1px;
	background: #ffffff;
	color: rgb(255, 0, 0);
	border-radius: 10px;
	text-decoration: none;
	transition: all .3s ease;
 }


 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.email_input  input{
		min-width: 250px;
		min-height: 22px;
	}
	.email_block_wrapper{
		margin: 0 auto;
	}
	.email_label label{
		min-width: 150px;
		font-size: 12px;
	}
	.main_email_button{
		font-size: 12px;
		padding: 7px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.email_input  input{
		min-width: 329px;
		min-height: 22px;
	}
	.email_block_wrapper{
		margin: 0 auto;
	}
	.email_label label{
		min-width: 150px;
		font-size: 12px;
	}
	.main_email_button{
		font-size: 12px;
		padding: 7px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.email_label label{
		min-width: 190px;
		font-size: 16px;
	}
	.email_input input{
		min-width: 415px;
	}
	.main_email_button{
		font-size: 16px;
		padding: 10px;
	}
}