.Header-wrapper{
  min-width: 65vw;
  margin: 0 auto;
    grid-area: header;
    display: grid;
    border-radius: 30px;
    grid-template-areas: 
    "logo name phone button";
    grid-template-columns: 0.5fr 2fr 1fr 1fr;
    grid-gap: 15px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    }  
.logo{
    grid-area: logo;
    align-self: center;
    padding-left: 30px;
  }
  
  .Header-wrapper img{
    border-radius: 30px;
    max-height: 60px;
  }

  .Header-wrapper .phone > span{
    font-size: 17px;
    color: red;
}

.Header-wrapper h1{
    grid-area: name;
    align-self: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #ff04c0;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 4px 3px 0px #7A7A7A;
    color: #FFFFFF;
  }
  
.phone{
    grid-area: phone;
    align-self: center;
    text-align: end;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #616161;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
  }
  
.button{
    grid-area: button;
    align-self: center;
    justify-self: center;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color:#f24537;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
    }
    .button a{
      color: white;
    }
  .button:hover{
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;   
  }
  .button:active {
	position:relative;
	top:1px;
}