.footer_wrapper{
    grid-area: footer;
    display: grid;
    background-color: rgb(37, 37, 37);
    text-align: center;
    align-content: flex-end;
    min-height: 10vh;
    left: 0;
    bottom: 0;
}
.footer_wrapper > span{
    font-size: 20px;
    color: rgb(77, 77, 77);
}