.header_wrapper{
    position: absolute;
    top: 155px;
    left: 0;
    right: 0;
    min-width: 99vw;
    min-height: 100px;
    background-color: rgb(241, 241, 241);
}
.header{
    display: grid;
    max-width: 65vw;
    margin: 0 auto;
}
.header  a {
    font-size: 11px;
    display: inline;
    vertical-align: middle;
    font-weight: normal;
    margin-left: 10px;
}
.header > a:hover {
    color: rgb(212, 0, 0);
    transition: all .5s ease;
}
.header h1 {
    display: block;
    font-size: 21px;
    font-weight: normal;
    justify-items: center;
    margin: 20px 0;
    font-weight: bold;
}
.ass::before{
    content: "< ";
}